
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
   
    

    color: #333;
    line-height: 1.6;
}


header {
    background-color: #ad9eb8;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header #nav {
    display: flex;
   
    align-items: center;
    max-width: 1200px;
    margin: 10 auto;
    padding: 0 20px;
}

header #logo {
    width: 100px; 
}

header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
}

header a:hover {
    text-decoration: underline;
}

header input, header button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

header input {
    width: 200px;
    font-size: 16px;
}

header button {
    background-color: #4B0082;
    color: white;
    cursor: pointer;
}

header button:hover {
    background-color:#c367da;
}


main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.listDogs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 20px;
}

.dog-card {
    background-color: #f1e9f7;
  
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.dog-card:hover {
    transform: translateY(-10px);
}

.dog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #f4f4f4;
}

.dog-card h3 {
    padding: 15px;
    font-size: 18px;
    color: #333;
}

.dog-card p {
    padding: 0 15px 15px;
    font-size: 14px;
    color: #666;
}


footer {
    background-color: #ad9eb8;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}
.dog-card h3{
    color: #4B0082;
    text-transform: uppercase;
}
.dog-card #vacc{
    color:green;
}
