nav{ 
    background-color: rgb(226, 217, 228);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content:first baseline;
    
  
    margin: 0 auto;
    
margin-top: 0px;}


#logo #add{
  text-align: right;
}
#breed #search{
    text-align:left;
}
body{
    background-color: #b89bbc;
}

.dog-card{
    border: 1px solid #d074ef;
    margin: 10px;
    padding: 15px;
    text-align: left;
    width: 200px;
    display: inline-block;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.dog-image{
    width: 100%;
    height: auto;
    border: 8px;
}